@page
@model Magazyn.Pages.Account.LoginModel
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Logowanie";
}
<h2>Logowanie</h2>
<form method="post">
    <div>
        <label>Login</label><br/>
        <input asp-for="Username" />
    </div>
    <br/>
    <div>
        <label>Hasło</label><br/>
        <input asp-for="Password" type="password" />
    </div>
    <br/>
    @if (Model.Error != null)
    {
        <p style="color:red">@Model.Error</p>
    }
    <button type="submit" class="btn btn-primary">Zaloguj</button>
</form>
